<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Построение по всем данным из модели</title>
</head>
<body>
    {% if tree_list %}
    <ul>
    {% for tree in tree_list %}
        <li>{{ tree }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет деревьев для отображения</p>
{% endif %}
</body>
</html>