<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Построение по ключу</title>
</head>
<body>
</form>
    {% if child %}
        <p>{{ child }}</p>>
    {% endif %}
</body>
</html>