<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор функции</title>
</head>
<body>
    <ul>
		<li><a href="{% url 'tree:all' %}">Сгенерировать все деревья</a></li>
        <li><form action="{% url 'tree:childs' %}" method="post">{% csrf_token %}
            <label for="child">ID элемента: </label>
            <input id="child" type="number" name="child" min="1" value="{{ node }}">
            <input type="submit" value="OK">
</form></li>
    </ul>
</body>
</html>